body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.word{
  text-align: center;
  display: grid;
  grid-auto-flow: column;
}
span{
  font-size: 1.5rem;
}
.error{
  color: red;
}

#root{
place-content: center;
display: grid;
height: 100vh;
}

.shaker{
  animation: shake 0.15s 5 alternate linear;

}



@keyframes shake { from { transform: translateX(10px); } to { transform: translateX(-10px); }  }